.b-button {
  margin-top: 3em;
  text-align: center;
}
.b-button .b-link {
  background: #EB7D4B;
  border-bottom: 4px solid #C86A40;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.2em;
  padding: 18px 3em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.b-button .b-link:hover {
  background: #F78B5A;
}
.b-button .b-link:active {
  position: relative;
  top: 5px;
}
.b-button_type_green .b-link {
  background: #17c2a4;
  border-bottom: 4px solid #14a58c;
}
.b-button_type_green .b-link:hover {
  background: #00B495;
}
.b-button_type_blue .b-link {
  background: #17c2a4;
  border-bottom: 4px solid #14a58c;
}
.b-button_type_blue .b-link:hover {
  background: #00B495;
}
/* theme */
@font-face {
  font-family: 'Bauhaus93';
  src: url('../fonts/Bauhaus93.eot');
  src: url('../fonts/Bauhaus93.eot?#iefix') format('embedded-opentype'), url('../fonts/Bauhaus93.woff') format('woff'), url('../fonts/Bauhaus93.ttf') format('truetype'), url('t../fonts/Bauhaus93.svg#Bauhaus93') format('svg');
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('t../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
}
.b-form_content_feedback .b-form-field[type="text"],
.b-form_content_feedback .b-form-field_type_textarea {
  width: 95%;
  padding: 15px 15px;
  font-family: 'Titillium Web', sans-serif;
  color: #FFF;
  font-size: 1.2em;
  background: #273a71;
  outline: none;
  border: none;
  margin: 0;
  margin-bottom: 2em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}
.b-form_content_feedback .b-form-field-label {
  float: left;
  width: 48%;
  margin-left: 4%;
}
.b-form_content_feedback .b-form-field-label:first-child {
  margin-left: 0;
}
.b-form_content_feedback .b-form-field_type_textarea {
  width: 98%;
  height: 120px;
  resize: none;
}
.b-form_content_feedback .b-form-field[type="submit"] {
  font-family: 'Titillium Web', sans-serif;
  display: inline-block;
  color: #FFF;
  font-size: 1.2em;
  text-transform: uppercase;
  background: #30bae7;
  padding: 18px 3em;
  border: none;
  border-bottom: 4px solid #299ec5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.b-form_content_feedback .b-form-field[type="submit"]:hover {
  background: #2AACD6;
}
.b-form_content_feedback .b-form-field[type="submit"]:active {
  position: relative;
  top: 5px;
}
.b-grid_content_services {
  margin-top: 3em;
}
.b-grid_content_services .b-grid__item {
  padding-left: 0;
  padding-right: 0;
  width: 23.8%;
}
.b-grid_content_team .b-grid__item {
  padding-left: 0;
  padding-right: 0;
  width: 23.8%;
}
.b-grid_content_team .b-grid__title {
  margin-top: 10px;
  color: #3c4761;
  -webkit-text-stroke: 2px;
}
.b-grid_content_portfolio .b-grid__item {
  padding-left: 0;
  padding-right: 0;
  width: 23.8%;
}
.b-grid_content_portfolio .b-grid__title {
  margin-top: 10px;
  color: #3c4761;
  -webkit-text-stroke: 2px;
}
.b-grid__item {
  padding: 1.5%;
  text-align: center;
  width: 20.8%;
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.b-grid__item:first-child {
  margin-left: 0;
}
.b-grid__image {
  margin: 25px 0;
}
.b-grid__title {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.b-grid__subtitle {
  font-size: 1.1em;
  text-align: center;
  color: #30BAE7;
}
.b-grid__text {
  color: #fff;
  font-size: 1.0em;
  line-height: 1.6em;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.b-ico {
  background: url(../images/bg/social-icons.png) no-repeat -9999px -9999px transparent;
  display: -moz-inline-stack;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  text-indent: -9999px;
  font-size: 0;
  width: 0;
  height: 0;
}
.b-ico_type_social {
  height: 24px;
  width: 24px;
}
.b-ico_type_facebook {
  background-position: -1px -10px;
}
.b-ico_type_twitter {
  background-position: -29px -11px;
}
.b-ico_type_inliked {
  background-position: -61px -12px;
}
.b-ico_type_mail {
  background-position: -96px -12px;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background: #FFF;
}
.b-section__in,
.b-stripe__in {
  width: 64%;
  margin: 0 auto;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.b-section_content_header,
.b-stripe_content_header {
  background: #ffffff;
  padding: 2em 0;
}
.b-section_content_footer,
.b-stripe_content_footer {
  text-align: center;
  padding: 1em 0;
  background: #131A25;
  position: relative;
}
.b-header__top {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
.b-header__desc {
  padding: 20em 0 7em;
  background: url(../images/content/slide-1.jpg) 50% 50% no-repeat;
}
.b-header__text {
  font-size: 2.5em;
  color: #f7f3ea;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
  -webkit-text-stroke-width: 1px;
}
.b-logo {
  float: left;
}
.b-logo .b-link {
  text-decoration: none;
  background: url(../images/bg/icons.png) -124px 0 no-repeat;
  display: block;
  margin: 11px 0 0;
}
.b-logo .b-logo__title {
  font-family: 'Bauhaus93';
  font-size: 57px;
  line-height: 42px;
  color: #000000;
  text-transform: uppercase;
  padding: 0 20px 0 42px;
}
.b-logo .b-logo__subtitle {
  font-family: 'CenturyGothic';
  font-size: 11px;
  line-height: 15px;
  display: block;
  padding: 2px 0 0 46px;
}
.b-logo .b-logo__part1 {
  color: #0578b7;
  padding-right: 3px;
}
.b-logo .b-logo__part2 {
  color: #52a5de;
  padding-right: 3px;
}
.b-logo .b-logo__part3 {
  color: #000000;
}
.b-navigation-block {
  float: left;
  margin: 14px 0;
}
.b-navigation-block .b-link_content_toggle-menu {
  background: #643a79;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  padding: 4px 5px 0;
  display: none;
}
.b-navigation-block .b-link_content_toggle-menu:hover {
  background: #5D2F74;
}
.b-navigation__item {
  display: inline-block;
}
.b-navigation__item:first-child {
  margin-left: 0;
}
.b-navigation__item .b-link {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  display: block;
  font-size: 1em;
  font-family: 'CenturyGothic';
  padding: 5px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.b-navigation__item .b-link:hover {
  background: #643a79;
}
.b-navigation__item .b-link:before {
  content: "";
  color: #c5c5c5;
}
.b-navigation__item.b-current .b-link {
  background: #643a79;
}
@media screen and (max-width: 800px) {
  .b-navigation-block {
    margin: 10px 0;
  }
  .b-active {
    display: block;
  }
  .b-navigation {
    list-style: none;
    width: 95%;
    position: absolute;
    right: 10px;
    background: #292F46;
    top: 62px;
  }
  .b-navigation__item .b-link {
    text-align: left;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
  }
  .b-navigation__item ul {
    width: 100%;
  }
  .b-navigation:after {
    content: '';
    position: absolute;
    right: 18px;
    top: -9px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #292F46;
  }
  .b-navigation-block li a span.messages {
    text-align: center;
    top: 15px;
  }
  .b-navigation-block .b-list {
    margin: 0;
  }
  .b-navigation > li.hover > ul {
    width: 100%;
  }
  .b-navigation > li {
    float: none;
    display: block;
  }
  .b-navigation ul {
    display: block;
    width: 100%;
  }
  .b-navigation > li.hover > ul,
  .b-navigation li li.hover ul {
    position: static;
  }
  .b-navigation li a {
    border-top: 1px solid #1F253D;
  }
  .b-navigation li:first-child a {
    border-top: none;
  }
}
.b-copy-right__in {
  color: #727E8D;
  font-size: 0.85em;
  line-height: 1.8em;
}
.b-copy-right__in .b-link {
  color: #FF742C;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.b-copy-right__in .b-link:hover {
  color: #FFF;
  text-decoration: underline;
}
/**************** Media Quries ************************/
@media only screen and (max-width: 1366px) {
  .b-stripe__in,
  .b-section__in {
    width: 90%;
  }
}
@media only screen and (max-width: 1280px) {
  .b-stripe__in,
  .b-section__in {
    width: 90%;
  }
}
@media all and (max-width: 1024px) {
  .b-stripe__in,
  .b-section__in {
    width: 90%;
  }
  .b-navigation__item .b-link {
    font-size: 0.85em;
    padding: 5px 15px;
  }
}
@media all and (max-width: 800px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-header__desc {
    padding: 4em 0 1em 0;
  }
  .b-section_content_skills .b-section__subtitle,
  .b-section_content_portfolio .b-section__subtitle,
  .b-section_content_team .b-section__subtitle,
  .b-section_content_services .b-section__subtitle {
    width: 100%;
  }
  .b-grid_content_services {
    margin-top: 0;
  }
  .b-grid__item {
    margin: 0;
  }
  .b-grid_content_services .b-grid__item,
  .b-grid_content_team .b-grid__item {
    width: 94%;
    padding: 3%;
  }
  .b-form-field[type="text"],
  .b-form-field_type_textarea {
    width: 91%;
  }
}
@media all and (max-width: 640px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-header__text {
    font-size: 2em;
  }
  .b-testimonials__item {
    margin: 0;
    width: 94%;
    padding: 3%;
  }
  .b-testimonials .b-section__group:first-child {
    padding-bottom: 0;
  }
}
@media all and (max-width: 480px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-header__text {
    font-size: 1.8em;
  }
  .b-section_type_inner .b-section__title {
    font-size: 1.5em;
  }
  .b-portfolio-wrap .b-portfolio__subtitle {
    font-size: 1em;
  }
  .b-form-field-label {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .b-button {
    margin-top: 1em;
  }
  .b-button .b-link {
    padding: 15px 2em;
  }
}
@media all and (max-width: 320px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-section_type_inner {
    padding: 2em 0;
  }
  .b-section_content_skills .b-section__subtitle,
  .b-section_content_portfolio .b-section__subtitle,
  .b-section_content_team .b-section__subtitle,
  .b-section_content_services .b-section__subtitle,
  .b-section_content_feedback .b-section__subtitle {
    font-size: 1em;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .b-testimonials__desc {
    font-size: 1em;
    line-height: 1.6em;
  }
  .b-filter__in {
    font-size: 1em;
    padding: 5px 15px;
  }
  .b-form-field[type="text"],
  .b-form-field_type_textarea {
    margin-bottom: 1em;
  }
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
dl {
  -wbkit-margin-before: 0;
  -wbkit-margin-after: 0;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.b-section__title {
  font-size: 2.2em;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
}
.b-section__subtitle {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
}
.b-section_content_services {
  background: #17c2a4;
  padding: 5em 0;
}
.b-section_content_team {
  background: #e7f1f8;
  padding: 5em 0;
}
.b-section_content_team .b-section__title {
  color: #3C4761;
}
.b-section_content_team .b-section__subtitle {
  color: #3C4761;
  font-weight: 600;
  width: 60%;
}
.b-section_content_team .b-grid__title {
  color: #3C4761;
}
.b-section_content_team .b-grid__subtitle {
  color: #30BAE7;
}
.b-section_content_team .b-grid__text {
  color: #3C4761;
}
.b-section_content_skills {
  background: #ffffff;
  padding: 5em 0;
}
.b-section_content_skills .b-section__title {
  color: #3c4761;
}
.b-section_content_skills .b-section__subtitle {
  color: #3C4761;
  font-weight: 600;
  width: 50%;
}
.b-section_content_portfolio {
  background: #ffdd99;
  padding: 5em 0;
}
.b-section_content_portfolio .b-section__title {
  color: #393939;
}
.b-section_content_portfolio .b-section__subtitle {
  color: #393939;
  font-weight: 600;
  width: 50%;
}
.b-section_content_about {
  background: #d74680;
  padding: 5em 0;
}
.b-section_content_about .b-section__title {
  font-weight: normal;
  width: auto;
}
.b-section_content_about .b-section__subtitle {
  padding-bottom: 2em;
  width: 50%;
}
.b-section_content_about .b-section__group {
  margin-top: 0;
}
.b-section_content_about .b-section__group:first-child {
  padding-bottom: 5em;
}
.b-section_content_feedback {
  background: #3c5499;
  padding: 5em 0;
  text-align: center;
}
.b-section_content_feedback .b-section__title {
  font-weight: normal;
  width: auto;
}
.b-section_content_feedback .b-section__subtitle {
  font-weight: normal;
  padding-bottom: 4em;
  width: auto;
}
.b-section__group {
  margin-top: 3em;
}
.b-line {
  text-align: center;
}
.b-line__in {
  display: inline-block;
  padding: 2px 45px;
  vertical-align: middle;
}
.b-line_color_green .b-line__in {
  background: #14A58C;
}
.b-line_color_yellow .b-line__in {
  background: #E5C37F;
}
.b-line_color_rose .b-line__in {
  background: #B73C6D;
}
.b-line_color_blue .b-line__in {
  background: #273A71;
}
.b-line_color_skyblue .b-line__in {
  background: #C8D9E5;
}
.b-social-network {
  margin-top: 1em;
}
.b-social-network__item {
  display: inline-block;
  text-align: center;
  margin-left: 7px;
}
.b-social-network__item:first-child {
  margin-left: 0;
}
.b-social-network__item .b-link {
  background: none repeat scroll 0 0 #BDD1DF;
  border-radius: 1em;
  display: block;
  padding: 4px;
  -webkit-transition: all 0.3 ease 0s;
  -moz-transition: all 0.3 ease 0s;
  -ms-transition: all 0.3 ease 0s;
  -o-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.b-social-network__item .b-link:hover {
  background: #4a8fc0;
}
.b-filter {
  padding: 3% 0;
  list-style: none;
  text-align: center;
}
.b-filter__item {
  display: inline-block;
  margin-left: 5px;
}
.b-filter__item:first-child {
  margin-left: 0;
}
.b-filter__in {
  display: block;
  padding: 5px 25px;
  text-decoration: none;
  color: #514c43;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  background: #ebc985;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.b-filter__in.active {
  background: #FFF;
}
.b-portfolio {
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.b-portfolio__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 48%;
  margin: 2% 1%;
  display: none;
  float: left;
  overflow: hidden;
}
.b-portfolio__wrap {
  overflow: hidden;
  position: relative !important;
  cursor: pointer;
  text-align: center;
}
.b-portfolio__wrap .b-link {
  display: block;
}
.b-portfolio__image {
  max-width: 100%;
  position: relative;
  display: inline-block;
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}
.b-portfolio__subtitle {
  color: #444;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.b-testimonials__item {
  display: block;
  float: left;
  margin: 0% 0 0% 1.6%;
  width: 46.2%;
  padding: 1.5%;
}
.b-testimonials__item:first-child {
  margin-left: 0;
}
.b-testimonials__image-wrap {
  width: 20.2%;
  display: block;
  float: left;
}
.b-testimonials__image {
  max-width: 100%;
  display: block;
}
.b-testimonials__title {
  color: #FFF;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 15px;
}
.b-testimonials__subtitle {
  font-size: 1.1em;
  color: #fac996;
}
.b-testimonials__desc {
  font-size: 1.2em;
  color: #FFF;
  line-height: 1.8em;
  font-style: italic;
}
.b-testimonials__text {
  width: 66.2%;
  display: block;
  float: left;
  margin: 0% 0% 0% 3.6%;
}
/* clearing > */
.b-clearfix:after,
.b-portfolio:after,
.b-stripe__in:after,
.b-section__group:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  font: 0/0 a;
  visibility: hidden;
}
/* clearing < */
/* text-align: justify > */
.b-justify {
  line-height: 0;
  text-align: justify;
  font-size: 1px;
  /* 1px для Opera */
  text-align-last: justify;
}
.b-justify:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
/* text-align: justify < */
