@font-face {
	font-family: "icomoon";
	src:url('fonts/icomoon.eot?-vcjjat');
	src:url('fonts/icomoon.eot?#iefix-vcjjat') format('embedded-opentype'),
		url('fonts/icomoon.woff?-vcjjat') format('woff'),
		url('fonts/icomoon.ttf?-vcjjat') format('truetype'),
		url('fonts/icomoon.svg?-vcjjat#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-big-star:before {
	content: "\e600";
}
.icon-something:before {
	content: "\e601";
}
.icon-stars:before {
	content: "\e602";
}
