.b-balloon-block {
  position: absolute;
  background: #43b0de;
  color: #ffffff;
}
.b-balloon-block_size_big {
  width: 156px;
  height: 156px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  top: -46px;
  left: 18px;
  .b-balloon-block__text {
    font-size: 17px;
    p30,16
  }
}
.b-balloon-block_size_min {
  width: 135px;
  height: 135px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  bottom: 0;
  right: 0;
  .b-balloon-block__bigger-text {
    font-size: 28px;
  }
}
.b-balloon-block__text {
   font-size: 17px;
}
.b-balloon-block__bigger-text {
   font-size: 32px;
}
.b-bg-image {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
