.b-balloon-block {
  position: absolute;
  background: #43b0de;
  color: #ffffff;
}
.b-balloon-block_size_big {
  width: 158px;
  height: 158px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;

}
.b-balloon-block_size_min {
  width: 135px;
  height: 135px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  .b-balloon-block__bigger-text {
    font-size: 28px;
  }
}
.b-balloon-block__text {
   font-size: 17px;
}
.b-balloon-block__bigger-text {
   font-size: 32px;
}
